########################
# node.js / npm
########################
node_modules
npm-debug.log

########################
# misc / editors
########################
*~
*#
.DS_STORE
.idea

########################
# angular
########################
public
.tmp
client/bower_components
