<div class="header-image">

    <div class="headline">
        <div class="container">
            <h1>Modern web project</h1>
            <h2>With Express on backend and Angular on frontend</h2>
        </div>
    </div>

</div><!-- /header-image -->

<div class="container">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="featurette" id="about">
        <img class="featurette-image img-circle img-responsive pull-right" src="/images/angularjs.png" width="250" height="250">
        <h2 class="featurette-heading">Angular <span class="text-muted">is a framework for building enhanced web apps</span></h2>
        <p class="lead">Angular is built around the belief that declarative programming should be used for building UIs and wiring software components, while imperative programming is excellent for expressing business logic. The framework adapts and extends traditional HTML to better serve dynamic content through two-way data-binding that allows for the automatic synchronization of models and views. As a result, AngularJS deemphasizes DOM manipulation and improves testability.</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette" id="services">
        <img class="featurette-image img-circle img-responsive pull-left" src="/images/expressjs.png" width="180" height="180">
        <h2 class="featurette-heading">Express <span class="text-muted">web application framework for Node</span></h2>
        <p class="lead">Express is a minimal and flexible node.js web application framework, providing a robust set of features for building single and multi-page, and hybrid web applications. With a myriad of HTTP utility methods and Connect middleware at your disposal, creating a robust user-friendly API is quick and easy. Express provides a thin layer of features fundamental to any web application, without obscuring features that you know and love in Node.</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette" id="contact">
        <img class="featurette-image img-circle img-responsive pull-right" src="/images/mongo.png" width="200" height="200">
        <h2 class="featurette-heading">Mongo <span class="text-muted">is the leading open-source NoSQL database</span></h2>
        <p class="lead">Mongo is a cross-platform document-oriented database system that eschews the traditional table-based relational database structure in favor of JSON-like documents with dynamic schemas, making the integration of data in certain types of applications easier and faster.</p>
    </div>

    <!-- /END THE FEATURETTES -->

</div><!-- /container -->